.gcloudignore
.git
**/gha-creds-*.json
**/.git
.gitignore
node_modules/
**/node_modules/
**/.next/
**/target/
**/.env
**/.env.*
!**/.env.example
**/.terraform/
**/*.tfstate*
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
**/coverage/
.tools/
.artifacts/
test-results/
playwright-report/
